.project
{
    font-family: 'Inconsolata', monospace;
    letter-spacing: 2px;
    color: slategrey;
    overflow-x: hidden;
    background-image: url('whirlpool.png');
}

.cardHandler
{
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    overflow-x: hidden;
    background-image: url('whirlpool.png');
}